* {
  margin: 0;
  padding: 0;
  background: #232830;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 30px;
}

.header {
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding-bottom: 80px;
}

.nav > .logo {
  font-size: 30px;
  font-weight: 400;
}

.nav > ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav ul > li {
  font-size: 24px;
  font-weight: 400;
}

.hero {
  text-align: center;
  line-height: 100px;
}

.hero > h1 {
  font-weight: 300;
  font-family: cursive;
  font-style: italic;
  font-size: 71px;
  color: #ff7575;
  line-height: 100%;
}

.hero > p {
  font-weight: 400;
  font-size: 29px;
  color: #fff;
}
